/* Здесь вы напишете основную часть стилей страницы.

Будьте внимательны! Для корректной работы скриптов на этом сайте нужно, чтобы в HTML некоторые классы были названы особым образом:
✦ theme-dark — класс тёмной темы
✦ theme-light — класс светлой темы
✦ like-icon — для svg-иконки анимированного сердца
✦ card__like-button — для кнопки Like рядом с иконкой
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ is-liked — для обозначения состояния лайкнутой иконки в виде сердца
✦ button__text — для обозначения текстового элемента внутри кнопки

Кроме этого, не меняйте HTML переключателя тем. Его разметка также гарантирует работу своего скрипта.

*/

.page {
  min-inline-size: 320px;
  min-block-size: 100dvb;
  font-family: var(--main-font), sans-serif;
  font-variation-settings: "wght" var(--font-wght);
  background-color: var(--background-color);
  color: var(--accent-color);
  background-size: cover;
  background-attachment: fixed;
  background-image: var(--bg-img);
}

.fill {
  fill: var(--accent-color);
}

.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 100px auto 0;
  padding-block-start: clamp(7.5rem, 7.148rem + 1.502vi, 8.5rem);
  background-color: var(--background-color);
  font-family: var(--accent-font);
  min-inline-size: clamp(20.313rem, 13.481rem + 33.632vi, 43.75rem);
  min-block-size: clamp(20.438rem, 14.604rem + 13.993vi, 23rem);
  max-inline-size: 696px;
  gap: 20px;
  border: 2px solid var(--accent-color);
}

.header__logo {
  font-size: clamp(3.063rem, 2.71rem + 1.502vi, 4.063rem);
  line-height: 1;
  text-decoration: none;
}

.header__discription {
  font-weight: var(--font-wght);
  text-transform: uppercase;
  font-size: clamp(0.875rem, 0.677rem + 0.845vi, 1.438rem);
  line-height: 1;
}

.theme-menu__list {
  display: flex;
  flex-direction: column;
  font-size: 0.87rem;
  gap: 10px;
  padding-block-start: 5px;
}

.theme-menu__item {
  padding-inline-start: 20px;
}

.theme-menu__button {
  position: relative;
  text-transform: uppercase;
  background: transparent;
  border: none;
  line-height: 1;
  cursor: pointer;
  transition: opacity 0.3s ease;
  appearance: none;
}

.theme-menu__button:disabled {
  opacity: 60%;
  pointer-events: none;
}

.theme-menu__button:disabled::before {
  content: "▶";
  position: absolute;
  inset-inline-start: 1px;
  inset-block-start: 1px;
  inline-size: 14px;
  block-size: 14px;
  animation: arrow 0.5s ease-in-out infinite alternate;
}

.theme-menu__button:hover {
  opacity: 60%;
  cursor: pointer;
}

.theme-menu__button:focus {
  outline: none;
  opacity: 60%;
}

.theme-menu__button:focus-visible {
  opacity: 60%;
}

.theme-menu__button::after {
  content: "";
  display: block;
  background-color: var(--accent-color);
  block-size: 2px;
  transform: scaleX(0);
  transition: transform 0.3s ease;
  transform-origin: left center;
}

.theme-menu__button:focus-visible::after {
  transform: scaleX(1);  
}

/* MAIN CONTENT */

.section {
  display: flex;
  flex-direction: column;
  gap: 50px;
  margin-block-start: 100px;
  margin-inline: auto;
  min-inline-size: clamp(20.313rem, 13.481rem + 33.632vi, 43.75rem);
  max-inline-size: 700px;
}

.card {
  background-color: var(--background-color);
  font-family: var(--main-font), sans-serif;
  font-size: 1.13rem;
  line-height: 1.16;
}

.card__title {
  padding: 4px 10px;
  font-variation-settings: 'wght' var(--title-wght);
  border: 2px solid var(--accent-color);
  font-size: inherit;
  line-height: 1.2;
}

.wrapper {
  position: relative;
  border-inline: 2px solid var(--accent-color);
}

.card__image {
  display: block;
  inline-size: 100%;
  object-fit: cover;
  object-position: center;
}

.saturate {
  filter: saturate(1.3);
}

.grayscale {
  filter: grayscale(0.5);
}

.hue-rotate {
  filter: hue-rotate(1deg);
}

.invert {
  filter: invert(0.1);
}

.sepia {
  filter: sepia(0.5);
}

.blur {
  filter: blur(0.1rem);
}

.hue-rotate-green {
  filter: brightness(1.3) contrast(1.1);
}

.img-label {
  position: absolute;
  inset-block-start: 25px;
  inset-inline-end: 13px;
  color: var(--accent-color);
  opacity: 50%;
  font-family: var(--accent-font);
  font-size: 0.88rem;
  line-height: 1;
  text-shadow: -1px 0 var(--background-color), 0 1px var(--background-color), 1px 0 var(--background-color), 0 -1px var(--background-color);
  mix-blend-mode: hard-light;
}

.card__content {
  border: 2px solid var(--accent-color);
  display: flex;
  flex-direction: column;
  gap: 25px;
  padding: 25px;
  font-variation-settings: var(--font-wght);
}

.button-container {
  display: flex;
  justify-content: end;
  align-items: center;
  gap: 2px;
}

.card__icon-button {
  block-size: 38px;
  background: transparent;   
  border: 2px solid transparent;
  appearance: none;
  transition: border 0.3s ease;
}

.card__icon-button:focus {
  outline: none;
}

.card__icon-button:focus-visible {
  outline: none;
  border-color: var(--accent-color);
}

.like-icon {
  cursor: pointer;
}

.button {
  position: relative;
  appearance: none;
  font-family: var(--accent-font);
  font-size: 0.87rem;
  cursor: pointer;
  border: 2px solid var(--accent-color);
  line-height: 0.9;
  transition: box-shadow 0.3s ease;
}

.button:focus {
  outline: none;
}

.button:focus-visible {
  box-shadow: 2px 2px 0 0 var(--accent-color);
}

.button::before {
  content: "";
  display: block;
  position: absolute;
  inset-inline-start: 0px;
  inset-block-start: 0px;
  block-size: 100%;
  inline-size: 100%;
  transform: scaleX(0);
  transform-origin: center left;
  background-color: var(--accent-color);
  transition: transform 0.5s ease-in-out;
}

.button:hover::before {
  transform: scaleX(1);
}

.card__like-button {
  background-color: transparent;
  inline-size: 130px;
  block-size: 38px;
}

.button__text {
  position: relative;
  z-index: 2;
  color: var(--blend-color);
  mix-blend-mode: difference;
}

/* FOOTER */

.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-block: 52px 100px;
}

.save-button {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 8px;
  background-color: var(--background-color);
  inline-size: 306px;
  block-size: 84px;
  max-inline-size: 335px;
}

.floppy {
  color: var(--blend-color);
  mix-blend-mode: difference;
}

.floppy-img {
  inline-size: 28px;
  block-size: 28px;
}

.save-dialog {
  padding: 0;
  min-inline-size: 341px;
  border: 2px solid var(--accent-color);
  background-color: var(--background-color);
}

.dialog-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 30px;
  gap: 30px;
}

.save-dialog::backdrop {
  background-color: rgb(0, 0, 0 / 0.75);
}

.dialog-content {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  text-transform: uppercase;
}

.floppy-dialog {
  min-inline-size: 39px;
  max-inline-size: 40px;
}

.dialog-text {
  font-family: var(--accent-font);
  color: var(--accent-color);
  font-size: 0.87rem;
  font-weight: 400;
  line-height: 1.5;
}

.dialog-button {
  background-color: var(--background-color);
  outline: none;
  inline-size: 93%;
  min-block-size: 38px;
  font-family: var(--accent-font);
  text-transform: uppercase;
}

@media (width > 376px) {
  .img-label {
    inset-inline-end: 25px;
  }

  .save-button {
    flex-direction: row;
    inline-size: 335px;
    block-size: 55px;
  }  

  .floppy-img {
    inline-size: 21px;
    block-size: 21px;
  }

  .save-dialog {
    max-inline-size: 353px;
  }

  .dialog-button {
    min-inline-size: 293px;
  }
}

@supports ((-webkit-text-stroke: 1px var(--background-color)) or (text-stroke: 1px var(--background-color))) {
  .img-label {
    text-shadow: none;
    text-stroke: 1px var(--background-color);
    -webkit-text-stroke: 1px var(--background-color);
  }
}