/* В этом файле будут храниться все значения переменных в исходном состоянии, а так же их изменения в зависимости от ширины устройства */

:root {
  --main-font: "Inter", Arial, sans-serif;
  --accent-font: "PressStart2P", Harrington, fantasy;
  --heart-fill-color: #FF0000;
  --heart-contour-color: #000;
  --gradient-main: transparent;

  /* Gradients */

  --bg-img: repeating-linear-gradient(
      to right,
      var(--gradient-main) 0px 2px,
      var(--gradient-accent) 2px 4px
    ),
    repeating-linear-gradient(
      to bottom,
      var(--gradient-main) 0px 2px,
      var(--gradient-accent) 2px 4px
    ),
    linear-gradient(
      to bottom,
      var(--linear-gradient-main),
      var(--linear-gradient-accent)
    );
}
